<div class="devices-container">
    <h2>Devices</h2>
    <hr class="separator">
    {{>messages}}
    <!-- Lights-->
    <div class="device_section">
        <h3>
            Lights
        </h3>
        <div class="device_container">
            {{#if devices}}
            {{#each devices}}
            {{#ifCond deviceType '==' 'light'}}
            <a href="/devices/edit/?id={{deviceID}}&category={{category}}">
                <div class="device">
                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                    <p>Light {{deviceName}}</p>
                    <p style="font-size:0.7em;">{{roomLongName}}</p>
                    <p style="font-size:0.7em;">{{roomName}}</p>
                    <label class="switch">
                        <input type="checkbox" {{#if deviceState}} checked {{else}} unchecked {{/if}} id={{deviceID}}
                            onclick="stateChange(this)">
                        <span class="slider round"></span>
                    </label>
                </div>
            </a>
            {{/ifCond}}
            {{/each}}
            {{/if}}
            <a href="/devices/add/?deviceType=light&category=/devices">
                <div class="device" id="add_device">
                    <p>Add light</p>
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>

    <!-- Sockets-->
    <div class="device_section">
        <h3>
            Sockets
        </h3>
        <div class="device_container">
            {{#if devices}}
            {{#each devices}}
            {{#ifCond deviceType '==' 'socket'}}
            <a href="/devices/edit/?id={{deviceID}}&category={{category}}">
                <div class="device">
                    <i class="fa fa-plug" aria-hidden="true"></i>
                    <p>Socket {{deviceName}}</p>
                    <p style="font-size:0.7em;">{{roomLongName}}</p>
                    <p style="font-size:0.7em;">{{roomName}}</p>
                    <label class="switch">
                        <input type="checkbox" {{#if deviceState}} checked {{else}} unchecked {{/if}} id={{deviceID}}
                            onclick="stateChange(this)">
                        <span class="slider round"></span>
                    </label>
                </div>
            </a>
            {{/ifCond}}
            {{/each}}
            {{/if}}
            <a href="devices/add/?deviceType=socket">
                <div class="device" id="add_device">
                    <p>Add Socket</p>
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>
    <!-- Cameras-->
    <div class="device_section">
        <h3>
            Cameras
        </h3>
        <div class="device_container">
            {{#if devices}}
            {{#each devices}}
            {{#ifCond deviceType '==' 'camera'}}
            <a href="/devices/edit/?id={{deviceID}}&category={{category}}">
                <div class="device">
                    <i class="fa fa-video-camera" aria-hidden="true"></i>
                    <p>Camera {{deviceName}}</p>
                    <p style="font-size:0.7em;">{{roomLongName}}</p>
                    <p style="font-size:0.7em;">{{roomName}}</p>
                </div>
            </a>
            {{/ifCond}}
            {{/each}}
            {{/if}}
            <a href="/devices/add/?deviceType=socket">
                <div class="device" id="add_device">
                    <p>Add Camera</p>
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>


    <!-- Miscellaneous-->
    <div class="device_section">
        <h3>
            Miscellaneous
        </h3>
        <div class="device_container">
            {{#if devices}}
            {{#each devices}}
            {{#ifCond deviceType '==' 'thermometer'}}
            <a href="/devices/edit/?id={{deviceID}}&category={{category}}">
                <div class="device">
                    <i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i>
                    <p>Thermometer {{deviceName}}</p>
                    <p style="font-size:0.7em;">{{roomLongName}}</p>
                    <p style="font-size:0.7em;">{{roomName}}</p>
                    <p>30 &#8451;</p>
                </div>
            </a>
            {{/ifCond}}
            {{#ifCond deviceType '==' 'hsensor'}}
            <a href="/devices/edit/?id={{deviceID}}&category={{category}}">
                <div class="device">
                    <i class="fa fa-tint" aria-hidden="true"></i>
                    <p>Humidity Sensor {{deviceName}}</p>
                    <p style="font-size:0.7em;">{{roomLongName}}</p>
                    <p style="font-size:0.7em;">{{roomName}}</p>
                    <p>30 &#8451;</p>
                </div>
            </a>
            {{/ifCond}}
            {{#ifCond deviceType '==' 'rainsensor'}}
            <a href="/devices/edit/?id={{deviceID}}&category={{category}}">
                <div class="device">
                    <i class="fa fa-cloud" aria-hidden="true"></i>
                    <p>Raindrop Sensor {{deviceName}}</p>
                    <p style="font-size:0.7em;">{{roomLongName}}</p>
                    <p style="font-size:0.7em;">{{roomName}}</p>
                </div>
            </a>
            {{/ifCond}}
            {{/each}}
            {{/if}}
            <a href="/devices/add">
                <div class="device" id="add_device">
                    <p>Add</p>
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>
</div>